# Custom API
Custom APIs allow you to extract nearly anything from nearly any site using Diffbot's powerful rendering engine.

## Creating a New API

You first need to create a custom API using our [API Toolkit](https://www.diffbot.com/dev/customize). Point-and-click or use CSS selectors to identify the content you wish to extract from a sample page. Your new API will be ready immediately, either for individual calls, your own app integration, or from within [Crawlbot](https://www.diffbot.com/dev/crawl) or our [Bulk API](https://www.diffbot.com/dev/bulk) systems.

Custom APIs use Diffbot's cloud-based rendering engine, and fully execute most page-level Javascript in order to access Ajax-delivered elements.

For assistance in creating your custom API, please see [Selectors and Filters](https://www.diffbot.com/dev/docs/custom/selectors).


## Request

> Definition

``` 
GET http://api.diffbot.com/v3/{your API name}
```

> Example Request

```shell
curl "http://api.diffbot.com/v3/{your API name}?token={token}&url={url}"
```

To access your Custom API, perform a HTTP GET request on the API you created in the [API Toolkit](https://www.diffbot.com/dev/customize):

`GET http://api.diffbot.com/v3/{your API name}`


<aside class="notice">Remember to url-encode all querystring parameters!</aside>

Provide the following arguments:

<table class="controls table table-bordered" border="0" cellpadding="5">
  <thead><tr><th>Argument</th><th>Description</th></tr></thead>

    <tbody><tr>
        <td class="">token</td>
        <td class=" default"><div>Developer token</div></td>
    </tr>
    <tr>
        <td class="">url</td>
        <td class=" default"><div>Web page URL to process ([URL encoded](http://en.wikipedia.org/wiki/Percent-encoding))</div></td>
    </tr>

    <tr>
        <td colspan="2" class="header">Optional arguments</td>
    </tr>
    <tr>
        <td class="">callback</td>
        <td class=" optional"><div>Use for jsonp requests. Needed for cross-domain ajax.</div></td>
    </tr>
   
    <tr>
        <td class="">timeout</td>
        <td class=" optional"><div>Specify a value in milliseconds (e.g., <code>&timeout=15000</code>) to override the default API timeout of 5000ms.</div></td>
    </tr>
    </tbody></table>



## Response 


Each V3 response includes a `request` object (which returns request-specific metadata), and an `objects` array, which will include the extracted information for all objects on a submitted page.

For Custom APIs the `objects` array will always contain a single object, and all custom fields and collections will be returned therein.


## Options

### Authentication

You can supply Diffbot with basic authentication credentials or custom HTTP headers (see below) to access intranet pages or other sites that require a login.

### Basic Authentication
To access pages that require a login/password ([using basic access authentication](http://en.wikipedia.org/wiki/Basic_access_authentication)), include the username and password in your `url` parameter, e.g.: `url=http%3A%2F%2FUSERNAME:PASSWORD@www.diffbot.com`.

### Custom HTTP Headers

You can supply Diffbot APIs with custom values for the user-agent, referer, cookie, or accept-language values in the HTTP request. These will be used in place of the Diffbot default values.

To provide custom headers, pass in the following values in your own headers when calling the Diffbot API:

Header | Description
--------- | -----------
X-Forward-User-Agent | Will be used as Diffbot's `User-Agent` header when making your request.
X-Forward-Referer | Will be used as Diffbot's `Referer` header when making your request.
X-Forward-Cookie | Will be used as Diffbot's `Cookie` header when making your request.
X-Forward-Accept-Language | Will be used as Diffbot's `Accept-Language` header when making your request.


### Posting Content
> HTML Post Sample:

```
curl http://api.diffbot.com/v3/{your_custom_api}?token={token}&url=http%3A%2F%2Fstore.diffbot.com \
-H "Content-Type: text/html" \
-d '<html><body><h2>A Pair of Jeans</h2><div>Price: $31.99</div></body></html>'
```

If your content is not publicly available (e.g., behind a firewall), you can POST markup directly to the Custom API endpoint for analysis:

`http://api.diffbot.com/v3/{your_custom_api}?token={token}&url={url}`

Please note that the `url` argument is still required, and will be used to resolve any relative links contained in the markup.

Provide the content to analyze as your POST body, and specify the `Content-Type` header as `text/html`.

## Video Tutorials

### Correcting Diffbot Automatic API Output

  <iframe src="https://www.youtube.com/embed/QfRyqSt5ngc?rel=0&amp;showinfo=0&amp;modestbranding=1&amp;theme=light" frameborder="0" allowfullscreen=""></iframe>


Using the Toolkit to fix incorrect extractions from Diffbot's Automatic APIs.

### Creating a Custom API

  <iframe src="https://www.youtube.com/embed/VNv3EZEUgok?rel=0&amp;showinfo=0&amp;modestbranding=1&amp;theme=light" frameborder="0" allowfullscreen=""></iframe>

How to create a custom API from scratch to extract data from any page online.

Related links:

* [Help with custom collections](http://support.diffbot.com/apitoolkit/help-with-custom-collections/)
* [Custom API Support](http://support.diffbot.com/topics/apitoolkit/)

### Custom API Filters

  <iframe src="https://www.youtube.com/embed/LFeFT5kWSSI?rel=0&amp;showinfo=0&amp;modestbranding=1&amp;theme=light" frameborder="0" allowfullscreen=""></iframe>

Using the various selector filter options to adjust the content returned by custom API fields.

Related links:

* [Overview of the selectors available](https://www.diffbot.com/dev/docs/custom/selectors/)
* [Custom API Support](http://support.diffbot.com/topics/apitoolkit/)

