# Introduction

Welcome to the Diffbot API Documentation. Diffbot enables you to extract articles, products, images, videos, discussions, and more from any web page! 

Using AI, computer vision, machine learning and natural language processing, Diffbot provides developers with numerous tools to understand and extract data from any web page.

We have sample code for you as raw cURL requests and in PHP in the dark area to the right - more languages (Ruby and Python being first) are coming soon. cURL is shown by default, but you can use the tabs in the top right to switch the programming language. 

If you notice the docs are unclear or that there's a typo, please don't be shy about clicking the "Suggest Edits" link in the left navbar! **We're working hard to keep these docs up to date**, however, sometimes we get behind – and we'd love your help.

##Helper Libraries

* [All Diffbot Libraries on Github](http://www.github.com/diffbot)

We commissioned and monitor the following libraries from our stellar group of community developers. All libraries are available via our [Github repository](https://github.com/diffbot), but for convenience, here is the full list:

<ul class="list-unstyled">
  <li>
    <ul class="list-unstyled">
      <li><a target="_blank" href="https://github.com/diffbot/diffbot-as3-client">ActionScript3</a></li>
      <li><a target="_blank" href="https://github.com/diffbot/diffbot-bash-client">Bash</a></li>
      <li><a target="_blank" href="https://github.com/diffbot/diffbot-c-client">C</a></li>
      <li><a target="_blank" href="https://github.com/diffbot/diffbot-cpp-client">C++</a></li>
      <li><a target="_blank" href="https://github.com/diffbot/diffbot-csharp-client">C#</a></li>
      <li><a target="_blank" href="https://github.com/diffbot/diffbot-clojure-client">Clojure</a></li>
      <li><a target="_blank" href="https://github.com/diffbot/diffbot-coffeescript-client">Coffeescript</a></li>
      <li><a target="_blank" href="https://github.com/diffbot/diffbot-d-client">D</a></li>
      <li><a target="_blank" href="https://github.com/diffbot/diffbot-dart-client">Dart</a></li>
      <li><a target="_blank" href="https://github.com/diffbot/diffbot-delphi-client">Delphi</a></li>
      <li><a target="_blank" href="https://github.com/diffbot/diffbot-erlang-client">Erlang</a></li>
      <li><a target="_blank" href="https://github.com/diffbot/diffbot-excel-client">Excel</a></li>
      <li><a target="_blank" href="https://github.com/diffbot/diffbot-fortran-client">FORTRAN</a></li>
      <li><a target="_blank" href="https://github.com/diffbot/diffbot-groovy-client">Groovy</a></li>
      <li><a target="_blank" href="https://github.com/diffbot/diffbot-go-client">Go</a></li>
      <li><a target="_blank" href="https://github.com/diffbot/diffbot-google-apps-client">Google Apps</a></li>
    </ul>
  </li>
  <li>
    <ul class="list-unstyled">
      <li><a target="_blank" href="https://github.com/diffbot/diffbot-haskell-client">Haskell</a></li>
      <li><a target="_blank" href="https://github.com/diffbot/diffbot-java-client">Java</a></li>
      <li><a target="_blank" href="https://github.com/diffbot/diffbot-js-client">Javascript</a></li>
      <li><a target="_blank" href="https://github.com/diffbot/diffbot-lisp-client">Common Lisp</a></li>
      <li><a target="_blank" href="https://github.com/diffbot/diffbot-matlab-client">MATLAB</a></li>
      <li><a target="_blank" href="https://github.com/diffbot/diffbot-objc-client">Objective C</a></li>
      <li><a target="_blank" href="https://github.com/diffbot/diffbot-ocaml-client">Ocaml</a></li>
      <li><a target="_blank" href="https://github.com/diffbot/diffbot-octave-client">Octave</a></li>
      <li><a target="_blank" href="https://github.com/diffbot/diffbot-perl-client">Perl</a></li>
      <li><a target="_blank" href="https://github.com/Swader/diffbot-php-client">PHP</a></li>
      <li><a target="_blank" href="https://github.com/diffbot/diffbot-plsql-client">PL/SQL</a></li>
      <li><a target="_blank" href="https://github.com/diffbot/diffbot-powershell-client">Powershell</a></li>
      <li><a target="_blank" href="https://github.com/diffbot/diffbot-prolog-client">Prolog</a></li>
      <li><a target="_blank" href="https://github.com/diffbot/diffbot-python-client">Python</a></li>
      <li><a target="_blank" href="https://github.com/diffbot/diffbot-rust-client">Rust</a></li>
      <li><a target="_blank" href="https://github.com/diffbot/diffbot-scala-client">Scala</a></li>

    </ul>
  </li>


  </ul>


<h3 class="toc-ignore">Contributed libraries</h3>
Thanks to the following developers for open-sourcing their own Diffbot client bindings.

<ul>
  <li><a href="https://github.com/markbao/node-diffbot" target="_new">Node.js</a> - from <a href="http://www.onswipe.com" target="_new">OnSwipe</a></li>
  <li><a href="https://github.com/tansey/diffbot" target="_new">.NET</a> - from NLP geek-trepreneur Wesley Tansey</li>
  <li><a href="https://github.com/TheRightChoyce/diffbot-csharp" target="_new">C#</a> - from Chris Choyce, creater of Pistashio</li>
  <li><a href="https://github.com/yayitswei/diffbot-clj" target="_new">Clojure</a> - from rockstar hacker Wei Hsu</li>

  <li><a href="http://pub.dartlang.org/packages/diffbot" target="_new">Dart</a> - Dart client by Claudio d'Angelis</li>
  <li><a href="https://github.com/alessandroleite/jdiffbot" target="_new">Java</a> - from Alessandro Leite</li>
  <li><a href="https://github.com/vanduynslagerp/diffbot-java-sdk" target="_new">Java</a> - from Pierre-Denis Vanduynslager, featuring multiple HTTP implementation, multiple JSON parsing, and Article / Frontpage / Batch API support
  </li><li><a href="https://github.com/vmorev/crawler" target="_new">Java Crawler (Follow and Article APIs)</a> - from Valentin Morev</li>
  <li><a href="https://metacpan.org/module/Net::DiffBot" target="_new">Perl</a> - by <a href="https://metacpan.org/author/BSM" target="_new">Bruno Martins</a></li>
  <li><a href="https://github.com/nikcub/py-diffbot" target="_new">Python</a> - generously contributed by Nik Cubrilovic, updated by Adomas Paltanavicius</li>
  <li><a href="http://pypi.python.org/pypi/diffbot/0.1" target="_new">Python</a> - pypi package by Andrey Popp</li>
  <li><a href="https://gist.github.com/1337245" target="_new">Python</a> - by David Torres</li>
  <li><a href="http://pypi.python.org/pypi/collective.diffbot/1.0" target="_new">Plone integration</a> - by Alin Voinea</li>
  <li><a href="https://rubygems.org/gems/diffbot" target="_new">Ruby</a> - by <a href="http://tinder.com" target="_new">Nicolas Sanguinetti</a></li>
  <li><a href="https://github.com/tevren/biffbot" target="_new">Ruby</a> - by <a href="https://github.com/tevren" target="_new">Anurag Mohanty</a></li>
  <li><a href="https://github.com/Laurent-Sarrazin/diffbot-php" target="_new">PHP</a> and <a href="https://github.com/Laurent-Sarrazin/LaurentSarrazinDiffbotBundle" target="_new">symfony</a> bundle by Laurent Sarrazin</li>
  <li><a href="https://github.com/Swader/diffbot-php-client" target="_new">PHP</a> by <a href="https://twitter.com/bitfalls" target="_new">Bruno Skvorc</a></li>
  </ul>



##Diffbot's APIs


| API Name       | What it does                                                                                          |
|----------------|-----------------------------------------------------------------------------------------------------  |
| [Article API]  | For structuring articles and blog posts                                                               |
| [Image API]    | For extracting the primary images from pages                                                          |
| [Product API]  | For structuring e-commerce product pages                                                              |
| [Analyze API]  | Determines the page-type for any given URL (and routes it to the appropriate API, where applicable)   |
| [Custom APIs]  | Custom field extraction from any site using manual rules                                              |
| [Crawlbot API] | For structuring entire sites using one of the above APIs                                              |
| [Bulk API]     | Asynchronous processing of many URLs using one of the above APIs                                      |
| [Search API]   | Real-time, field-specific search of your Crawlbot and Bulk API jobs      

[Analyze API]: #analyze-api
[Article API]: #article-api
[Image API]: #image-api
[Product API]: #product-api
[Custom APIs]: #custom-api
[Crawlbot API]: #crawlbot
[Bulk API]: #bulk-processing
[Search API]: #search-api