@import 'normalize';
@import 'compass';
@import 'variables';
@import 'syntax';
@import 'icon-font';

.content {
	a {
		color: $main-text;
		font-weight: 600;
		border-bottom: 2px solid #f4f4f4;
		text-decoration: none;
		&:hover {
			border-bottom-color:$main-text;
			
		}
	}

  h3 {
    // font-size: 14px;
    margin-top: 4em;
    text-transform: none;
    font-size: 1.2em;

  }

  h2 + h3, h2 + div + h3 {
    margin-top: 1em;
  }

  h4, h5, h6 {
    font-size: 1.1em;
  }
  code {
    background: $code-bg-light;
    // border: 1px solid #EAEAEA;
    // color: #000;
    font-weight: 600;    
  }
  pre {
    text-shadow: none;
    color: $main-text;
    code {
      font-weight: normal;

    }
  }
  blockquote {
    background: $examples-bg;
    padding-bottom: 0;
    > p {
      background: none;
      border: none;
      margin-bottom: 0;
      padding-left: 0;
      color: #fff;
    }
    h4 {
      font-size: 13px;
      text-transform: none;
      color: #fff;
      font-weight: bold;
    }
  }

  aside.info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    // color: $dark-bg;
    text-shadow: none;
    a {
      color: $dark-bg;
      border-color: darken(#bce8f1, 10%);
      &:hover {
        border-color: darken(#bce8f1, 20%);
      }
    }
  }
}

.tocify-wrapper > .brand {
  background: url(../images/logo.svg) no-repeat center; 
  display: block;
  text-indent: -9999em;
  height: 60px;
  background-size: 160px auto;

}

.tocify-wrapper {

  border-right: 1px solid #D3D9DE;
	// This is the currently selected ToC entry
  .tocify-focus {
    @include box-shadow(4px 0px 0px $brand-bright inset);
    background-color: transparent;
    color: $nav-active-text;
    font-weight: bold;
  }

  a {
  	&:hover {
  		color: $brand-bright;
  	}
  }
	.tocify-subheader {
  	border-top: 1px solid #D5DEEC;
  	border-bottom: 1px solid #D5DEEC;
  	background: none;
  	border: none;
    .tocify-item>a {
      font-size: 13px;
    }
    .tocify-subheader {
       .tocify-item>a {
         // Styling here for a level 2 nesting. For example -> 
         padding-left: $nav-padding + $nav-indent * 3;
         font-size: 12px;
       }
     }


	}
  .toc-footer {
  	padding: 1em 0;
  	margin-top: 1em;
  	border-top: 1px solid #D3D9DE;

    a:hover {
      text-decoration: none;
    }


  }

 
}  


.content > ul.list-unstyled,
.content ul.list-unstyled {
  padding-left: 28px;
  list-style: none;

}

.content > ul.list-unstyled {
  padding-left: 0px;
  float: left;

  > li {
    float: left;
    &:last-of-type {
      padding-left: 28px;
    }
  }
}

.content table td {
  text-align: right;
  &.default, &.optional {
    text-align: left;
  }
}


.content table tbody tr td:last-of-type {
  text-align: left;
}
.content table thead th:first-of-type {
  text-align: right;
}

.highlight {
  // color: $main-text;

  .mf, .mi {
    color: #E67E22;
  }
  // .s2 {
  //   color: #CDDCEC;
  // }

  .p {
    color: #CDDCEC;
  }

  .err {
    color: #f8f8f2;
    background-color: transparent;
  }
  
}

span.fadedSpan {
  color: #888;
}

// .video-container {
//   position:relative;
//   padding-bottom:56.25%;
//   padding-top:30px;
//   height:0;
//   overflow:hidden;
//   // margin-right: 50%;
//   width: calc(100vw - 200px - 50%)
// }

// .video-container iframe, .video-container object, .video-container embed {
//   position:absolute;
//   top:0;
//   left:0;
//   width:100%;
//   height:100%;
// }